.item {
  display: inline-block;
  width: 230px;
  height: 300px;
  border: solid rgb(238, 238, 238) 0.1rem;
  margin: 0.3rem;
  background-color: white;

  &:hover {
    background-color: rgba(247, 247, 247, 0.836);
    box-shadow: 3px 3px 3px #3f00c71a;
  }

  .item-img {
    width: 210px;
    height: 210px;
    margin: 0.5rem;
    border: solid rgb(238, 238, 238)  0.5px;
    object-fit: cover;
  }

  .item-name {
    float: left;
    margin-left: 1rem;
    font-weight: 400;
  }

  .item-price {
    float: right;
    margin-right: 1rem;
    font-weight: 700;
  }

  button {
    background-color:  #deceff;
    border: none;
    border-radius: 1rem;
    width: 170px;
    padding: 0.3rem;
    text-align: center;
    color: #4000c7;
    margin-top: 0.4rem;
    margin-left: 1.9rem;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: #4000c7;
      box-shadow: 1px 2px 1px rgb(189, 189, 189);
    }
  }  
}
