#nav {
  
  border: 1px solid gray;
  border-left: none;
  border-right: none;
  padding: 25px;
  display: grid;
  // display: flex;
  // place-items: center;
  #menu {
    position: absolute;
    right: 0;
    // float: right;
    .item_list_container {
      margin-right: 40px;
      text-decoration: none;
      color: gray;  // 링크를 클릭했더라도 색상 변경 방지
      &:hover {
        cursor: pointer;
      }
    }
  }
}
